@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    background-color: darkseagreen;
    padding: 1rem;
}

.new-task-modal {
    margin: auto;
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
}

.new-task-modal > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.list-heading {
}

.task {
    padding: 1rem;
    margin-bottom: 0.5rem;
    background-color: bisque;
}

.task-title {
    font-size: 1.5rem;
}

.task-desc {
}

.task-due {
    font-style: italic;
}

.task-complete {
}
